.popin {
	display: none;
    background-image: url("./Assets/Elements/background.png");
	background-size: cover;
    position: absolute;
    width: 50vw;
    height: 60vh;
    left: 25%;
    top: 20%;
}

.popin:target {
	display: block;
}

a[href="#"] {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}


#popin3 {
	background-image: url("");
	position: absolute;
    top: 20;
    left: 25%;
}

#popin5 {
	background-image: url("");
	position: absolute;
    top: 20;
    left: 25%;
}

#popin7 {
	background-image: url("");
	position: absolute;
    top: 20;
    left: 25%;
}

#popin11 {
	background-image: url("");

}

#popin12 {
	background-image: url("");
}

/* Zone font */

@font-face {
    font-family: "PatrickHand";
    src: url("./Assets/Police/Patrick_Hand/PatrickHand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "PatrickHandSC";
    src: url("./Assets/Police/Patrick_Hand_SC/PatrickHandSC-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Overpass";
    src: url("./Assets/Police/Overpass/Overpass-VariableFont_wght.ttf") format("truetype");
}


/* Elements generaux */

.pince {
	position: absolute;
    top: -11.5%;
    left: 8%;
    transform: scale(1.1);
    z-index: 1;
}

.logoVal {
	position: absolute;
    bottom: -20%;
    left: -10%;
    transform: scale(1.2);
    z-index: 1;
}

.scotch {
	position: absolute;
    bottom: -3%;
    left: -2%;
    transform: scale(1.3);
    z-index: 0;
}

.backArrow {
	position: absolute;
    top: -6%;
    right: 6%;
    z-index: 0;
}

.nextArrow {
	position: absolute;
    top: -6%;
    right: 3%;
    z-index: 0;
}

.close {
	position: absolute;
    top: -6.5%;
    right: 0%;
    z-index: 0;
}

.citation {
	position: absolute;
    top: 55%;
    left: 70%;
    transform: scale(0.3);
    z-index: 0;
}


#blocNoteText {
	font-weight:500;
	font-size: 18px;
	font-family: "PatrickHand";
}





/* Zone texte */

.Titre{
	position: absolute;
    top: 10%;
    left: 45%;
    color: black;
    z-index: 1;
}

.TitreOeuvre {
	position: absolute;
    top: 77%;
    left: 7%;
    color: black;
    z-index: 1;
    line-height: 0.7;
}

#Title {
	font-weight:800;
	font-size: 25px;
	font-family: "Overpass";
    letter-spacing: 0.01px;
}

#SubTitle {
	font-weight:200;
	font-size: 20px;
	font-family: "Overpass";
    line-height: 0.6;
    letter-spacing: 0.01px;
}

#Text {
	font-weight:200;
	font-size: 20px;
	font-family: "PatrickHand";
    color: black;
    line-height: 1.1;
}

#changeColor {
	color: #EB3C2B;
}

#underlineColor {
	background-color: #FEF3A5;
}

#TitleOeuvre {
	font-weight:bold;
	font-size: 14px;
	font-family: "Overpass";
}

#SubTitleOeuvre {
	font-weight:600;
	font-style: italic;
	font-size: 12px;
	font-family: "Overpass";
}

#TextOeuvre {
	font-weight:600;
	font-size: 10px;
	font-style: italic;
	font-family: "Overpass";
}

#blocNoteText {
	font-weight:500;
	font-size: 18px;
	font-family: "PatrickHand";
}







/* Leonard de vinci */

.boutonOeuvre {
	position: absolute;
    top: 0%;
    left: -5.5%;
    transform: scale(0.3);
    z-index: 1;
}

.imgOeuvre {
	position: absolute;
    top: -4%;
    left: -2%;
    transform: scale(1.1);
    z-index: 0;
}

.imgFullPage {
    position: absolute;
	top: -10%;
	left: 25%;
    transform: scale(1.3);
	z-index: 0;
}

.blocNoteImage {
	position: absolute;
	top: 28%;
	left: 45%;
	z-index: 1;
	transform: scale(1.3);
}

.blocNoteImageLine {
	position: absolute;
	top: 38%;
	left: 48%;
	z-index: 2;
	transform: scale(1.3);
}

.blocNote {
	position: absolute;
	top: 215%;
	left: 5%;
	line-height: 1.27;
	z-index: 3;
	transform: rotate(-6.5deg);
}

.enSavoirPlus {
	position: absolute;
    top: 65%;
    left: 70%;
    transform: scale(0.3);
    z-index: 3;
}

.enSavoirPlus1-2 {
	position: absolute;
    top: 10%;
    left: 11.5%;
    transform: scale(0.3);
    z-index: 3;
}




/* Rembrandt */

.boutonOeuvre2 {
	position: absolute;
    top: 2%;
    left: -9%;
    transform: scale(0.3);
    z-index: 1;
}

.imgOeuvre2 {
    position: absolute;
	top: -9%;
	left: -4%;
    transform: scale(1.1);
	z-index: 0;
}

.imgFullPage2 {
    position: absolute;
	top: 10%;
	left: 7%;
    transform: scale(1.3);
	z-index: 0;
}

.blocNoteImage2 {
	position: absolute;
	bottom: -25%;
	left: 45%;
	z-index: 1;
	transform: scale(1.27);
}

.blocNoteImageLine2 {
	position: absolute;
    bottom: -18%;
    left: 48%;
	z-index: 2;
	transform: scale(1.30);
}

.blocNote2 {
	position: absolute;
    top: 139%;
    left: 0%;
	line-height: 1.27;
	z-index: 3;
	transform: rotate(-6.6deg);
}

.enSavoirPlus2 {
	position: absolute;
    top: 41%;
    left: 10%;
    transform: scale(0.3);
    z-index: 3;
}



/* One minute art history */

.blocNoteImage3 {
	position: absolute;
	top: 12%;
	left: -1%;
	z-index: 1;
	transform: scale(1.2);
}

.blocNoteImageLine3 {
	position: absolute;
    top: 22%;
    left: 3%;
	z-index: 2;
    line-height: 1.1;
	transform: scale(1.15);
}

.blocNote3 {
	position: absolute;
    color: black;
    top: 22.5%;
    left: 2%;
	z-index: 3;
    line-height: 1.2;
	transform: rotate(-6.4deg) scale(0.95);
}

.blocNote3-2 {
	position: absolute;
    color: black;
    top: 45.5%;
    left: 3%;
	z-index: 3;
    line-height: 1.2;
	transform: rotate(-6.4deg) scale(0.95);
}

.imgOeuvre3 {
    position: absolute;
	bottom: 12%;
	right: 8%;
    transform: scale(1.2);
	z-index: 3;
}

.TitreOeuvre2 {
	position: absolute;
    top: 33%;
    right: 20%;
    color: black;
    z-index: 1;
    line-height: 0.7;
}

.trombone {
	position: absolute;
	top: -4%;
	left: -6.5%;
	z-index: 4;
	transform: scale(1.1);
}

.scotchBlanc {
	position: absolute;
	top: 38%;
	left: 58%;
	z-index: 4;
	transform: scale(1.2);
}



/* Niki de saint phalle */

.boutonOeuvre4 {
	position: absolute;
    top: 3%;
    left: -10.5%;
    transform: scale(0.3);
    z-index: 1;
}

.imgOeuvre4 {
    position: absolute;
	top: -7%;
	left: -4%;
    transform: scale(1.2);
	z-index: 0;
}

.tromboneVenus {
	position: absolute;
	top: 40%;
	right: -6.9%;
	z-index: 2;
	transform: scale(0.9) rotate(180deg);
}

.venusInspiration {
    position: absolute;
	top: 20.5%;
	right: -9%;
    transform: scale(1.2);
	z-index: 0;
}

.inspiration {
	position: absolute;
    top: 11%;
    left: 41%;
    transform: scale(0.1) rotate(-10deg);
    z-index: 1;
}

.TextCentral {
	position: absolute;
    bottom: 5%;
    left: 35%;
    z-index: 1;
}

#TextC {
	font-weight:200;
	font-size: 24px;
	font-family: "PatrickHand";
    color: black;
    line-height: 1.4;
}

.placementCarton {
	position: absolute;
    top: 22.5%;
    left: 12.5%;
    transform: scale(1.2);
    z-index: 4;
}

.scotchB {
	position: absolute;
    top: 18%;
    left: 40%;
    transform: scale(1.6);
    z-index: 5;
}

.textCarton {
	position: absolute;
    top: 35%;
    left: 27.5%;
    color: black;
    text-align: center;
    transform: scale(1.2) rotate(-5deg);
    z-index: 5;
}

#textCa {
	font-weight:200;
	font-size: 24px;
	font-family: "PatrickHand";
    color: black;
    line-height: 1.4;
}

#sousTextCa {
	font-weight:bold;
	font-size: 16px;
	font-family: "PatrickHandSD";
    color: black;
}


.imgOeuvreFull4 {
    position: absolute;
    top: 5%;
    left: 5%;
    transform: scale(1.2);
    z-index: 0;
}

.imgOeuvreFull4-2 {
    position: absolute;
    top: -10%;
    left: 25%;
    transform: scale(1.2);
    z-index: 0;
}

.inspirationTitle {
    position: absolute;
    top: -90%;
    left: -200%;
    transform: scale(0.2);
    z-index: 0;
}

.boutonOeuvre4-2 {
	position: absolute;
    top: 0%;
    left: -6%;
    transform: scale(0.3);
    z-index: 2;
}

.imgOeuvre4-2 {
    position: absolute;
	top: -3%;
	left: 0%;
    transform: scale(1.2);
	z-index: 0;
}

.TitreInspiration {
    position: absolute;
	top: 25%;
	left: 45%;
	z-index: 0;
}

#TitleInspiration {
	font-weight: bold;
	font-size: 22px;
	font-family: "PatrickHandSD";
    color: black;

}

#TextInspiration {
	font-weight:200;
	font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 1.2;
	font-family: "PatrickHand";
    color: black;
}




